<!DOCTYPE html>
<html ng-app="livraria">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
  </head>
  <body ng-controller="LojaControle as loja">
    <div ng-repeat="livro in loja.acervo">
      <h1>{{livro.titulo}}</h1>
      <h2>R$ {{livro.preco}}</h2>
      <p>{{livro.descricao}}</p>
      <button ng-show="{{livro.quantidade > 0}}">
        Adicionar Carrinho
      </button>
      <section class="tab" ng-controller="AbasControle as aba">
        <ul class="nav nav-pills">
          <li><a href ng-click="aba.setAba(1)" >Descrição</a></li>
          <li><a href ng-click="aba.setAba(2)">Comentários</a></li>
        </ul>

        <div ng-show="aba.isSet(1)">
          <h4>Descrição</h4>
          <blockquote>{{livro.descricao}}</blockquote>
        </div>
        <div ng-show="aba.isSet(2)">
          <h4>Comentários</h4>
          <blockquote ng-repeat="comentario in livro.comentarios">{{comentario.autor}} disse: {{comentario.texto}}</blockquote>
            <form name="comentarioForm" ng-controller="ComentarioControle as cmtControle" ng-submit="comentarioForm.$valid && cmtControle.addComentario(livro)" novalidate>
            <blockquote>{{cmtControle.comentario.autor}} disse: {{cmtControle.comentario.texto}}</blockquote>
            <p>
              <input type="email" placeholder="Seu email" ng-model="cmtControle.comentario.autor" required />
            </p>
            <p>
              <textarea placeholder="Deixe seu comentário" ng-model="cmtControle.comentario.texto" required></textarea>
            </p>
            <div>O formulario é {{comentarioForm.$valid}}</div>
            <input type="submit" value="Adiconar">
            </form>
        </div>
      </section>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
